body {
  margin: 0;
  padding: 0;
  background-color: #303030;
  color: white;
}
.main {
  display: flex;
}
.contacto {
  width: 20%;
  min-width: 236px;
  border: 1px solid gray;
}
.user-home {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}
.user {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}
.home-img img {
  width: 35px;
  border-radius: 50%;
}
.home-state p {
  margin: 0;
}
.icon {width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
button {
  width: 80%;
  padding: 10px;
  background-color: #A490D2;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}
.submain {
  width: 69%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 250px;
  border-radius: 10px;
}
.user-online {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid gray;
  padding: 10px 0;
}
.user-img img {
  width: 45px;
  border-radius: 50%;
}
.user-state p {
  margin: 0;
}